<div id="header">
  <div class="nav">
    <nav class="navbar navbar-expand-lg navbar-light">
    <h3 class="navbar-brand">Pierre's Treats</h3>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="site">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Treats">Treats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Flavors">Flavors</a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
          <li class="nav-item">
            <h3 class="navbar-brand">Welcome @User.Identity.Name</h3>
          </li>
          <li class="nav-item">
            <form action="/account/logoff" method="post">
              <button type="submit" class="btn btn-outline-dark">Log Out</button>
            </form>
          </li>
        }
        else
        {
        <li class="nav-item">
          <form action="/account/register" method="get">
            <button type="submit" class="btn btn-outline-dark">Register</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="/account/login" method="get">
            <button type="submit" class="btn btn-outline-dark">Log In</button>
          </form>
        </li>
        }
      </ul>
    </div>
  </div>
</div>