@{
  Layout = "_Layout";
}

@using PierresTreats.Models

<h3>Pierre's Sweet and Savory Treats</h3>
<hr />
<div class="row">
  <div class="col-md-6">
    <h4 class="sub-title">Treats</h4>
    @if (ViewBag.Treats.Count != 0)
    {
      @foreach (Treat treat in ViewBag.Treats)
      {
        <h5>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</h5>
      }
    }
    else
    {
      <h5>None</h5>
    }
  </div>
  <div class="col-md-6">
    <h4 class="sub-title">Flavors</h4>
    @if (ViewBag.Flavors.Count != 0)
    {
      @foreach (Flavor flavor in ViewBag.Flavors)
      {
        <h5>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })</h5>
      }
    }
    else
    {
      <h5>None</h5>
    }
  </div>
</div>